/* Reset default browser style */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: sans-serif;
}

body,
html {
    height: 100%;
}

body.ov-hidden {
    overflow: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: bold;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Buttons */
.btn {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    color: #767676;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #111111;
    border: 1px solid #767676;
}

.btn-icon {
    width: 35px;
    height: 35px;
    padding: 0;
}

/* Gallery */
.gallery {
    padding: 2rem;
}

.gallery-filter .gallery-filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.gallery-filter .gallery-filter-list-item a {
    display: inline-flex;
    padding: 5px 10px;
    min-width: 145px;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    cursor: pointer;
    color: #767676;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.gallery-filter .gallery-filter-list-item a.active {
    border: 1px solid #000000;
    color: #000000;
}

.gallery-images-list {
    column-width: 300px;
    column-gap: 1.5rem;
}

.gallery-images-list .gallery-images-list-item {
    position: relative;
}

.gallery-images-list .gallery-images-list-item a {
    display: flex;
    cursor: pointer;
    margin-bottom: 1.5rem;
    line-height: 0;
}

.gallery-images-list .gallery-images-list-item img {
    max-width: 100%;
    border: 1px solid #ccc;
}

.gallery-images-list .gallery-images-list-item .hover-element {
    background-image: linear-gradient(180deg, #00000057 0, rgba(0, 0, 0, .338) 3.5%, rgba(0, 0, 0, .324) 7%, rgba(0, 0, 0, .306) 10.35%, rgba(0, 0, 0, .285) 13.85%, rgba(0, 0, 0, .262) 17.35%, rgba(0, 0, 0, .237) 20.85%, rgba(0, 0, 0, .213) 24.35%, rgba(0, 0, 0, .188) 27.85%, rgba(0, 0, 0, .165) 31.35%, rgba(0, 0, 0, .144) 34.85%, rgba(0, 0, 0, .126) 38.35%, rgba(0, 0, 0, .112) 41.85%, rgba(0, 0, 0, .103) 45.35%, #0000001a 48.85%, rgba(0, 0, 0, .103) 52.35%, rgba(0, 0, 0, .112) 55.85%, rgba(0, 0, 0, .126) 59.35%, rgba(0, 0, 0, .144) 62.85%, rgba(0, 0, 0, .165) 66.35%, rgba(0, 0, 0, .188) 69.85%, rgba(0, 0, 0, .213) 73.35%, rgba(0, 0, 0, .237) 76.85%, rgba(0, 0, 0, .262) 80.35%, rgba(0, 0, 0, .285) 83.85%, rgba(0, 0, 0, .306) 87.35%, rgba(0, 0, 0, .324) 90.85%, rgba(0, 0, 0, .338) 94.35%, rgba(0, 0, 0, .347) 97.85%, #00000059);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.gallery-images-list .gallery-images-list-item .hover-element .hover-element-btm {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}
.gallery-images-list .gallery-images-list-item .hover-element .hover-element-btm a {
    margin: 0;
}
.gallery-images-list .gallery-images-list-item .hover-element .fav-and-download {
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}
.gallery-images-list .gallery-images-list-item .hover-element .img-name {
    color: #ffffff;
}


/* Lightbox style */
.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 7rem;
    z-index: 99;
}

.lightbox-content {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    color: #111111;
}

.lightbox-content-top,
.lightbox-content-btm {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.lightbox-content-btm {
    top: auto;
    bottom: 0;
}

/* .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    opacity: 0.5;
    background-position: center;
    background-size: cover;
} */

.lightbox-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    max-height: 70vh;
    max-width: calc(80vw - 100px);
    transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
    transform-style: preserve-3d;
}


/*.lightbox:hover img{
    transform: translate(-50%, -50%) rotateY(180deg);
  }*/

[class^="arrow"] {
    height: 100px;
    width: 50px;
    /* background: rgba(0, 0, 0, 0.4); */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.2s;
}

[class^="arrow"]:hover {
    /* background: rgba(0, 0, 0, 0.6); */
}

[class^="arrow"]:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 15px;
    height: 15px;
}

.arrowr {
    right: 1.5rem;
}

.arrowr:after {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.arrowl {
    left: 1.5rem;
}

.arrowl:after {
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.close {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 50px;
    height: 50px;
    /* background: rgba(255, 255, 255, 0.4); */
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
}

.close:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.close:after,
.close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 45%;
    background: #ffffff;
}

.close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.avatar {
    line-height: 1;
}

.avatar img {
    border-radius: 50%;
}

.lightbox .download-btn {
    display: inline-block;
    padding: 6px 30px;
    color: #ffffff;
    text-decoration: none;
    background-color: #3cb46e;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.no-of-views,
.no-of-downloads {
    display: flex;
    flex-direction: column;
    color: #111111;
}

.no-of-views strong,
.no-of-downloads strong {
    color: #767676;
    font-weight: 400;
}

.views-and-downloads {
    display: flex;
    column-gap: 7rem;
}

.fav-and-download,
.share-and-info {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}


.img-profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: #111111;
}

.no-of-downloads {
    left: 10rem;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: rgba(255,255,255,0.9); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.loader span {
    display: block;
    background-color: #ffffff;
}

.loader.hide {
    display: none;
}


/* Login modal */
.login-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 6rem;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.login-modal.hide {
    display: none;
}

.login-modal-content {
    background-color: #ffffff;
    width: 900px;
    position: relative;
    border-radius: 4px;
    color: #111111;
    display: flex;
}

.login-modal-img {
    background-image: url(../images/login_img.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 280px;
    flex: none;
    border-radius: 4px 0 0 4px;
}

.login-modal-form {
    width: 100%;
}

.login-modal-form div {
    padding: 2rem 4rem;
}

.login-modal-form .login-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.75rem;
    margin: 0 0 0.5rem;
}

.login-modal-form p {
    text-align: center;
    margin: 0 0 2rem;
}


.login-modal-form .btn {
    width: 100%;
    color: #ffffff;
    font-size: 1rem;
    height: 50px;
}

.login-modal-form .login-with-fb {
    background-color: #1877f2;
    margin: 0 0 1rem;
}

.login-modal-form form:before {
    content: "Or";
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 14px;
}

.login-modal-form .btn-login {
    background-color: #111111;
    margin: 0 0 1rem;
}

.login-modal-form .form-group {
    width: 100%;
    padding: 0;
    margin: 0 0 1.5rem;
    position: relative;
}

.forgot-pwd {
    position: absolute;
    right: 0;
    top: 0;
    color: #767676;
}

.login-modal-form .form-group label {
    display: block;
    margin: 0 0 0.25rem;
}

.login-modal-form .form-group input.form-control {
    width: 100%;
    padding: 12px;
}

.login-modal-form .join {
    border-top: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 2rem;
}

.login-modal-form .join p {
    margin: 0;
}

.login-modal-form .join p a {
    color: #767676;
}